a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.container {
  margin: 10px auto 40px;
  width: 50%;
  text-align: center;
}

#logo {
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  color: black;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 40px 40px;
}

/* Begin main page / top of the page links */

/* default link styles */

a {
  font-weight: 900;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b8d2be;
}

a:hover {
  color: #136926;
}

/* navigation style */

.navigation li {
  display: inline-block;
}

.navigation li span {
  font-size: 12px;
}

.navigation .item-1 {
  padding-right: 10px;
}

.navigation .item-2, 
.navigation .item-3, 
.navigation .item-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.navigation .item-5 {
  padding-left: 10px;
}

/* End links */

/* This wraps the sidebar, book title and book synopsis */
.content-wrapper {
  margin: 50px auto;
  width: 50%;
}


/* This wraps the sidebar contents. */
.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
  text-align: center; 
}

.sidebar-book-title {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 15px 0px;
  border-bottom: thin dashed #333333;
  color: #565656;
}

.sidebar-menu .sidebar-subtitle {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 10px;
  font-style: italic;
  line-height: 2;
  letter-spacing: 1px;
  color: #565656;
}

.sidebar-menu li {
  display: block;
}


/* Book image */
img {
  width: 128px;
  height: 186px;
}

/* This wraps the title and book synopsis */
.article {
  display: inline-block;
  margin: 0 auto;
  width: 64%;
  text-align: left;
}

.book-title {
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 30px;
  color: #136926;
  padding: 40px;
  padding-left: 0px;
}

.synopsis {
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  line-height: 1.5;
  color: #565656;
}

em {
  font-style: italic;
}

.copyright {
  text-align: center;
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 12px;
  color: #999;
  padding: 100px;
}