/* Padding and Margin */



/* Padded divs with display inline block */



/* Padded divs with display inline */



/* Padded spans with display block */



/* Inline block divs with margins */




/*
 * Ignore below, just some basic layout that you don't need to worry about.
 * Feel free to study it, but it is not necessary for this lesson.
 */


/* typography */
body {
  font-family: sans-serif;
}
h1 {
  margin: 20px 0 10px;
}

/* the main content wrapper */
main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/* each section */
section {
  border: 2px solid teal;
}

/* basic visual styling for each box */
.box {
  background: hotpink;
}